/* General */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html{
	font-size: 62.5%
}
body{
	font-family: DroidSansRegular, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 13px; line-height: 20px;
	color: #666;
	position: relative;
	-webkit-font-smoothing: antialiased; }
/* Links */
a {
	color: #2ba6cb;
	text-decoration: none;
	line-height: inherit;
}
a:hover {
	color: #2795b6
}
a:focus {
	color: #2ba6cb;
	outline: none;
}

/* Nav */

.nav-bar {
	height: 40px;
	margin-top: 30px;
	padding: 0;
}
.nav-bar > li {
	float: left;
	display: block;
	position: relative;
	padding: 0;
	margin: 0 7px 0 0;
	line-height: 40px;
}
.nav-bar > li:first-child {
	background: none
}
.nav-bar > li.active > a {
	cursor: pointer
}
.nav-bar > li.active:hover {
	cursor: default
}
.nav-bar > li > a {
	color: #555
}
.nav-bar > li ul {
	margin-bottom: 0
}
.nav-bar > li .flyout {
	display: none
}
.nav-bar > li.has-flyout > a:first-child {
	position: relative
}
.nav-bar > li.has-flyout > a:first-child:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	right: 0px;
	top: 0px; }
.nav-bar > li.has-flyout > a.flyout-toggle {
	background: none;
	border-left: 0 !important;
	position: absolute;
	right: 0;
	top: 0;
	padding: 20px;
	z-index: 2;
	display: block;
}
.nav-bar > li.has-flyout.is-touch > a:first-child {
	padding-right: 55px
}
.nav-bar > li.has-flyout.is-touch > a.flyout-toggle {
	border-left: 1px dashed #666
}
.nav-bar > li > a:first-child {
	position: relative;
	padding: 0 11px;
	display: block;
	text-decoration: none;
	font-size: 14px;
}
.nav-bar > li > input {
	margin: 0 10px
}
.nav-bar.vertical {
	height: auto;
	margin-top: 0;
}
.nav-bar.vertical > li {
	float: none;
	border-bottom: none;
	border-right: solid 1px #333333;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.nav-bar.vertical > li.has-flyout > a:first-child:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: solid 4px;
	border-color: transparent transparent transparent #e6e6e6;
}
.nav-bar.vertical > li .flyout {
	left: 100%;
	top: -1px;
}
.nav-bar.vertical > li .flyout.right {
	left: auto;
	right: 100%;
}
.nav-bar.vertical > li.active {
	border-right: solid 1px #2284a1
}
.nav-bar.vertical > li:last-child {
	border-bottom: solid 1px #333333
}
.flyout {
background: #fff;
nowhitespace: afterproperty;
nowhitespace: afterproperty;
padding: 20px;
margin: 0;
position: absolute;
top: 39px;
left: -1px;
width: 200px;
z-index: 40;
-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1)
 }
.flyout p {
	line-height: 1.2;
	font-size: 13px;
	color: #666;
	margin-bottom: 15px;
}
.flyout *:first-child {
	margin-top: 0
}
.flyout *:last-child {
	margin-bottom: 0
}
.flyout.small {
	width: 166.66667px
}
.flyout.large {
	width: 437.5px
}
.flyout.right {
	left: auto;
	right: -2px;
}
.flyout.left {
	right: auto;
	left: -2px;
}
.flyout.up {
	top: auto;
	bottom: 39px;
}
ul.flyout,.nav-bar li ul {
	padding: 0;
	list-style: none;
}
ul.flyout li a,.nav-bar li ul li a {
	margin: 0px 20px;
	background: #fff;
	border: 1px solid #e6e6e6;
	border-width: 0px 0px 1px 0;
	color: #555;
	display: block;
	font-size: 12px;
	height: auto;
	line-height: 1;
	padding: 12px 0px;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
ul.flyout li a:hover,.nav-bar li ul li a:hover {
	background: #fff;
	color: #333;
}
ul.flyout li.active,.nav-bar li ul li.active {
	margin-top: 0;
	border-top: 1px solid #4d4d4d;
	border-left: 1px solid #1a1a1a;
}
ul.flyout li.active a,.nav-bar li ul li.active a {
	background: #fff;
	border: none;
	color: #fff;
	height: auto;
	margin: 0;
	position: static;
	top: 0;
	-webkit-box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	box-shadow: 0 0 0;
}
dl.sub-nav {
	display: block;
	width: auto;
	overflow: hidden;
	margin: -4px 0 18px;
	margin-right: 0;
	margin-left: -9px;
	padding-top: 4px;
}
dl.sub-nav dt, dl.sub-nav dd {
	float: left;
	display: inline;
	margin-left: 9px;
	margin-bottom: 10px;
}
dl.sub-nav dt {
	color: #999;
	font-weight: normal;
}
dl.sub-nav dd a {
	text-decoration: none;
	-webkit-border-radius: 1000px;
	-moz-border-radius: 1000px;
	-ms-border-radius: 1000px;
	-o-border-radius: 1000px;
	border-radius: 1000px;
}
dl.sub-nav dd.active a {
	font-weight: bold;
	background: #2ba6cb;
	color: #fff;
	padding: 3px 9px;
	cursor: default;
}
ul.side-nav {
	display: block;
	list-style: none;
	margin: 0;
	padding: 17px 0;
}
ul.side-nav li {
	display: block;
	list-style: none;
	margin: 0 0 7px 0;
}
ul.side-nav li a {
	display: block
}
ul.side-nav li.active a {
	color: #4d4d4d;
	font-weight: bold;
}
ul.side-nav li.divider {
	border-top: 1px solid #e6e6e6;
	height: 0;
	padding: 0;
}
#menu-icon {
display: none;
}
.sf-menu,.sf-menu li {
	margin: 0;
	padding: 0;
	float: right;
}
.sf-menu li {
	list-style: none;
	float: left;
}
.sf-menu a {
	padding: 4px 15px;
	display: block;
	color: #000;
}
.sf-menu ul {
	padding: 2px;
	position: absolute;
	display: none;
	width: 200px;
}
.sf-menu ul li {
	float: none;
	margin: 0px;
	padding: 0px;
}
.sf-menu li:hover > ul {
display: block;
}
ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul {
	left: 200px;
	top: 0;
}
.sf-menu,.sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu,.sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu {
	line-height: 1.0
}
.sf-menu ul {
	position: absolute;
	top: -999em;
	width: 10em;
}
.sf-menu ul li {
	width: 100%
}
.sf-menu li:hover {
	visibility: inherit
}
.sf-menu li {
	float: left;
	position: relative;
	margin-right: 7px;
}
.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {
	left: 0%;
	padding-top:0px;
	top:40px;
	z-index: 99;
}
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
	top: -999em
}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
	left: 10em;
	top: 0;
}
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul {
	top: -999em
}
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
	left: 10em;
	top: 0;
}
.sf-menu {
	float: right;
	margin-bottom: 1em;
}
.sf-menu a {
	padding: .95em 1.1em;
	text-decoration: none;
}
.sf-menu a, .sf-menu a:visited {
	color: #444;
}
.sf-menu li li {
	background: #fff;
	width: 200px;
}
.sf-menu li li li {
	background: #fff
}
.sf-menu li:hover,.sf-menu li.sfHover,.sf-menu a:focus,.sf-menu a:hover,.sf-menu a:active {
	outline: 0;
	color: #ccc;
}
.sf-menu a.sf-with-ul {
	min-width: 1px
}
.sf-sub-indicator {
	position: absolute;
	display: block;
	right: .75em;
	top: 1.05em;
	width: 10px;
	height: 10px;
	text-indent: -999em;
	overflow: hidden;
}
a > .sf-sub-indicator {
	top: 0.9em;
	background-position: 0 -100px;
}
#nav-wrap {
	margin-top: 30px
}
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px
}
.sf-menu ul .sf-sub-indicator {
	background-position: -10px 0
}
.sf-menu ul a > .sf-sub-indicator {
	background-position: 0 0
}
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0
}
.sf-shadow ul {
	padding: 0 8px 9px 0;
	border-top: 2px solid #33877D;
	width: 200px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}
ul.flyout, .nav-bar li ul {
  list-style: none;
  padding: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.055);
}
.nav-bar li ul li:last-child a {
  border-bottom: 0;
}

/* Grid */
.row {
	width: 980px;
	min-width: 768px;
	max-width: 100%;
	margin: 0 auto;
}
.row .row {
	width: auto;
	max-width: none;
	min-width: 0;
	margin: 0 -15px;
}
.row.collapse .column, .row.collapse .columns {
	padding: 0
}
.row .row {
	width: auto;
	max-width: none;
	min-width: 0;
	margin: 0 -15px;
}
.row .row.collapse {
	margin: 0
}
